<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <!--<li><a href="#" th:href="@{/rawinfo}">Search raw info</a></li>-->
                        <li><a href="#" th:href="@{/searchbyprefix}">Database Information</a></li>
                        <li><a href="#" th:href="@{/searchgraph}">Correlation Network</a></li>
                        <li><a href="#" th:href="@{/search}">Reconstruction Region</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron" id="photo" style="display: block">
            <div class="row text-center">
                <div class="">
                    <h2>Information Reconstruction Platform</h2>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/title.png" width="1000"
                     th:src="@{/images/title.png}"/>
            </div>
        </div>

    </div>
</div>
</body>
</html>