#realName{
    display: inline;
}
#searchLabel{
    display: inline;
}
#edit{
    float:left;
    width:100%;
    height:500px;
}
#edit1{
     float:left;
     width: 72%;
     height: 80%;
 }
#blank{
    float:left;
    width: 3%;
    height: 80%;
}
#edit2{
    float:left;
    width:25%;
    height: 80%;
}
