<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Extraction</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{../css/extract.css}"/>
</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <!--<li><a href="#" th:href="@{/rawinfo}">Search raw info</a></li>-->
                        <li><a href="#" th:href="@{/searchbyprefix}">Database Information</a></li>
                        <li><a href="#" th:href="@{/searchgraph}">Correlation Network</a></li>
                        <li><a href="#" th:href="@{/search}">Reconstruction Region</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <h2 id="realName" th:text="${realName}+'   '"></h2>
    <button type="button" class="btn btn-primary" id="showGraph" th:align="right">Load</button>
    <button type="button" class="btn btn-success" id="detail" th:align="right">Detail</button>
    <button type="button" class="btn btn-info" id="params" th:align="right">Attribute</button>
    <input id="objectId" th:value="${objectId}" type="hidden"/>
    <p></p>

    <div class="panel panel-info">
        <div class="panel-heading">Origin Information</div>
        <div class="panel-body">
            <textarea id="rawinfo" name="rawinfo" class="form-control" rows="5"></textarea>
            <p></p>
            <div class="text-right">
                <button id="analysis" type="" class="btn btn-primary">Analysis</button>
            </div>
        </div>
    </div>


    <div id="extractresult"></div>
    <div id="select_area" style="width: 1200px;height: 600px"></div>
    <div class="container" id="buttonGroup" style="display: none">
        <div class="text-right">
            <button id="resetNode" type="" class="btn btn-danger">Reset</button>
            <button id="commit" type="" class="btn btn-success">submit</button>
        </div>
    </div>
    <P></P>
    <div class="container" id="edit" style="display: none">
        <div id="edit1" class="panel panel-info">
            <div class="panel-heading">Add related Entity</div>
            <div class="panel-body">
                <div id="search">
                    <H5 id="searchLabel">Search and add related entity</H5>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Search In Database
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">查询想要添加的实体名</h4>
                                </div>
                                <div class="modal-body" id="modelBody">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label for="prefix">Keyword</label>
                                            <input name="prefix" class="form-control" id="prefix" placeholder="Michael Jackson"/>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer" id="modelFooter">
                                    <button type="button" id="toSearch" class="btn btn-primary">Search</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    Added Entities：
                </div>
                <p></p>
                <div id="selectedEntities">
                    <table class="table table-striped">
                        <tr>
                            <th>No.</th>
                            <th>Description</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="blank"></div>
        <div id="edit2" class="panel panel-info">
            <div class="panel-heading">Add Association</div>
            <div class="panel-body">
                <h5>Launch</h5>
                <div class="text-center">
                    <select id="select1" class="form-control selectpicker" data-live-search="true"></select>
                </div>
                <h5>Destination</h5>
                <div class="text-center">
                    <select id="select2" class="form-control selectpicker" data-live-search="true"></select>
                </div>
                <h5>Association Type</h5>
                <div class="text-center">
                    <input class="form-control" id="connType" placeholder="promote"/>
                </div>
                <P></P>
                <div class="text-right">
                    <button id="addConn" type="" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/js/echarts.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/js/extract.js"></script>
</html>