<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/head1 :: header"></th:block>
    <h2>检索结果</h2>
    <div class="row text-center" th:if="${not #lists.isEmpty(entities)}">
        <table class="table table-striped">
            <tr th:each="entity : ${entities}">
                <td th:text="${entity.objectId}">Id</td>
                <td th:text="${entity.realName}">realName</td>
                <td><a th:href="${ '/object/'+entity.objectId}">Detailed</a></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <a id="add">向库中添加一个新实体</a>
    </div>
    <div class="row text-center" id="newentity" style="display:none">
        <div class="form-inline">
            <div class="form-group">
                <label for="name">实体名称</label>
                <input class="form-control" id="name" placeholder="Jane Doe"/>
            </div>
            <div class="form-group">
                <label for="description">实体相关描述</label>
                <input class="form-control" id="description" placeholder="clown"/>
            </div>
            <button id="savenew" type="submit" class="btn btn-primary">Save to New Entity</button>
        </div>
        <p></p><p></p><p></p>
    </div>
</div>

</body>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/objectlist.js"></script>
</html>