<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>INAS</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/head1 :: header"></th:block>
    <div class="row text-center">
        <form class="form-inline" th:action="@{/rawinfo}" th:method="post">
            <div class="form-group">
                <label for="keyWord">Keyword</label>
                <input name="keyWord" type="text" class="form-control" id="keyWord" placeholder="Michael Jackson"/>
            </div>
        </form>
        <p></p>
        <button  id="searchraw" class="btn btn-primary">Search</button>
        <p></p>
    </div>
    <div class="row text-center">
        <textarea id="textarea1" name = "news_content" rows = "20" cols = "160" style="display:none">... </textarea>
        <p></p>
        <button id="next" class="btn btn-primary" style="display:none">Next</button>
        <p></p>
    </div>
</div>

</body>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/rawinfo.js"></script>
</html>