<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>INAS</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/head1 :: header"></th:block>
</div>

<div class="row text-center">
    <div class="form-inline">
            <label for="objectId">实体ID</label>
            <input name="objectId" type="text" class="form-control" id="objectId" placeholder="Michael Jackson"/>
            <button id="search" type="" class="btn btn-primary">查询</button>
        <div class="container" id="transc" style="display: none">
            <a id="trans">切换到事件导向</a>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>

<div id="select_area" style="width: 1500px;height: 800px"></div>





</body>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/graphic.js"></script>
</html>