<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>INAS</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/head1 :: header"></th:block>
    <div class="row text-center">
        <div class="form-inline">
            <label for="keyWord">Keyword</label>
            <input name="keyWord" type="text" class="form-control"  id="keyWord" placeholder="Michael Jackson"/>
            <button  id="searchraw" class="btn btn-primary">Search</button>
        </div>
        <p></p>
    </div>
    <div id="searchresult" style="display: none">
        <div class="row text-center" >
            <textarea id="textarea1" name = "news_content" rows = "20" cols = "160">... </textarea>
            <p></p>
            <button id="next" class="btn btn-success">Next captured message</button>
            <p></p>
        </div>
        <div class="row text-center">
            <div class="form-inline">
                add rawinfo to
                <select name="selectd" id="select">select corresponding entity</select>
                <button id="save" class="btn btn-primary">save</button>
                <a id="addnew" class="text-right">Add it to a New Entity</a>
            </div>
            <p></p><p></p><p></p>
        </div>
    </div>
    <div class="row text-center" id="newentity" style="display:none">
        <div class="form-inline">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" placeholder="Jane Doe"/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" id="description" placeholder="clown"/>
            </div>
            <button id="savenew" type="submit" class="btn btn-primary">Save to New Entity</button>
        </div>
        <p></p><p></p><p></p>
    </div>
</div>
</body>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/rawinfo.js"></script>
</html>