<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>INAS</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/head1 :: header"></th:block>
    <h2 th:text="${objectId}"></h2>
    <input id="objectId" th:value="${objectId}" type="hidden"/>
    <h2>  RawInfo </h2>
    <div class="container">
        <a id="show"> show</a>
    </div>
    <div class="row text-center"  id="rawtext" style="display: none">
        <textarea  id="textarea1" name = "news_content" rows = "20" cols = "160">... </textarea>
        <p></p>
    </div>
    <h2>  TimeLine</h2>
    <div th:if="${not #lists.isEmpty(events)}">

        <table class="table table-striped">
            <tr>
                <th>Time</th>
                <th>location</th>
                <th>Description</th>
                <th>Result</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="event : ${events}">
                <td th:text="${event.ts}">Id</td>
                <td th:text="${event.site}">Location</td>
                <td th:text="${event.details}">Descirption</td>
                <td th:text="${event.affect}">Result</td>
                <td><a th:href="${'/timenode/'+event.eventId}">View</a></td>
                <td><a th:href="${'/edittimenode/'+event.eventId}">Edit</a></td>
                <td><a th:href="${'/deletenode/'+event.eventId}" >Delete</a></td>
            </tr>
        </table>

    </div>
    <div class="container">
        <a id="add">Add New Timnode</a>
    </div>
    <div id="newtimenode" style="display: none">
        <form class="form-horizontal" th:action="@{/recons}" method="post">
            <input name="objectId" type="hidden" th:value="${objectId}"/>
            <div class="form-group">
                <label for="inputTime" class="col-sm-2 control-label">Time</label>
                <div class="col-sm-2">
                    <input name="time" type="text" class="form-control" id="inputTime" placeholder="Mc"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputLocation" class="col-sm-2 control-label">Location</label>
                <div class="col-sm-2">
                    <input name="location" type="text" class="form-control" id="inputLocation" placeholder="Beijing"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <input name="description" type="text" class="form-control" id="inputDescription" placeholder="description"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputResult" class="col-sm-2 control-label">Result</label>
                <div class="col-sm-10">
                    <input name="result" type="text" class="form-control" id="inputResult" placeholder="result"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>
</body>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/showdetailed.js"></script>
</html>