<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>INAS</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/head1 :: header"></th:block>
</div>


<div id="select_area" style="width: 1500px;height: 800px"></div>



</body>
<script type="text/javascript" src="/js/echarts.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/singlegraph.js"></script>
</html>